@model Open.Logic.OrderClasses.OrderDetailsViewModel
@{
    ViewBag.Title = "DetailsOrder";
}

<h2>DetailsOrder</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderLineId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderLineId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderLineId })
            </td>
        </tr>
    }
</table>

