@using System.Web.Mvc.Html
@model Open.Logic.OrderClasses.OrderDetailsViewModel

@{
    ViewBag.Title = "Order Details";
}

<h2>Order @Html.DisplayFor(model => model.UniqueId)</h2>
<p>
    Create New
    @Html.ActionLink("OrderLine", "CreateOrderLine", new { id = Model.UniqueId }) |
    @Html.ActionLink("TaxOnLine", "CreateTaxOnLine", new { id = Model.UniqueId }) |
    @Html.ActionLink("ChargeLine", "CreateChargeLine", new { id = Model.UniqueId }) |
</p>
<div>
    <h4></h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
        <dt> </dt>
        <dd> </dd>
        <dt> @Html.DisplayNameFor(model => model.UniqueId) </dt>
        <dd> @Html.DisplayFor(model => model.UniqueId) </dd>
        <dt> @Html.DisplayNameFor(model => model.DateCreated) </dt>
        <dd> @Html.DisplayFor(model => model.DateCreated) </dd>
        <dt> @Html.DisplayNameFor(model => model.SalesChannel) </dt>
        <dd> @Html.DisplayFor(model => model.SalesChannel) </dd>
        <dt> @Html.DisplayNameFor(model => model.TermsAndConditions) </dt>
        <dd> @Html.DisplayFor(model => model.TermsAndConditions) </dd>
    </dl>
        <table class="table">
            <tr>
                <th>
                @Html.Label("LineType")
                </th>
                <th>
                @Html.Label("UniqueId")
                </th>
                <th>
                    @Html.Label("Comment")
                </th>
                <td>
                </td>
            </tr>

            @foreach (var item in Model.OrderLines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LineType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UniqueId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditLine", new { id=item.UniqueId }) |
                        @Html.ActionLink("Details", "LineDetails", new { id=item.UniqueId }) |
                        @Html.ActionLink("Delete", "DeleteLine", new { id=item.UniqueId })
                    </td>
                </tr>
            }
        </table>   
    }
</div>

